<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title IsamaelCorp
body.home
	#start
		include home/header
		include home/banner
		include home/skills
		include home/features
		include home/team
		include home/contact
		include home/footer


	script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
	script(src="js/main.min.js")