#footer
	.ed-container.base-90.abcenter
		.ed-item
			.social--footer
				.ed-container.img_content.abcenter
					.social--facebook.social--footer__item.ed-item.base-25.tablet-1-3.web-25.social--facebook.no-padding
						a.social.social--footer__icon.icon-facebook(href="https://www.facebook.com/ISAMAELCORP/" target="_blank")
					.social--twitter.social--footer__item.ed-item.base-25.tablet-1-3.web-25.social--twitter.no-padding
						a.social.social--footer__icon.icon-twitter(href="https://www.twitter.com/ISAMAEL_CORP" target="_blank")
					//.social--youtube.social--footer__item.ed-item.base-25.tablet-1-3.web.25.social--youtube.no-padding
						a.social.social--footer__icon.icon-youtube(href="#")
					//.social--google-plus.social--footer__item.ed-item.base-25.tablet-1-3.web.25.social--google-plus.no-padding
						a.social.social--footer__icon.icon-google-plus(href="#")
	.ed-container.base-90.abcenter
		.copy
			.ed-item
				h2.copy__logo Isamael Corp
			.ed-item
				p.copy__rights Isamael Corp 2014 - 2016. All Rights Reserved &copy;.