header#header
	.ed-container.full-height.cross-center.toggle-menu
		.ed-item
			#toggle-menu
				.ed-container.cross-center
					.ed-item.base-5
						span.fi.flaticon-bars
					.ed-item.base-85
						span Menu
	.ed-container.no-padding
		.ed-item
			nav#menu
				ul.menu.tablet-main-center.tablet-cross-center
					li.menu__item: a.menu__link.in-page(href="#start") Inicio
					li.menu__item: a.menu__link.in-page(href="#skills") Nosotros
					li.menu__item: a.menu__link.in-page(href="#team") Equipo
					//li.menu__item: a.menu__link.in-page(href="#contact") Contacto
					li.menu__item: a.menu__link(href="/e") E-Learning