extends ./layout.pug
block content
	#banner
		.ed-container.abcenter.container
			.ed-item.logo.column.main-center.base-90.movil-70.web-50.animated.bounceIn
				.ed-container.abcenter
					.ed-item
						h2.logo__title Próximamente
					.ed-item.base-75
						a.menu__item.menu__link(href="/") #[span.icon-izquierda] Volver